/*default rule*/
*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
body{  
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9 ;
}
.inline{
    display: inline-block;
}
.center{
    vertical-align: middle;
}
h1{
    font-size: 40px;
}
header{
    padding:15px;
    background-color: white;
}
main{
    max-width: 1300px;
    margin: auto; 
    margin-top: 20px;
}
#button-task{
    background-color: #45ABEA;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px;
    font-weight: bold;
    height: 35px;
}
#button-section{
    border-radius: 5px;
    color: rgb(201,206,211);
    border-color: rgb(201,206,211);
    padding: 10px;
    font-weight: bold;
    height: 35px;
    border: 1px;
}
.buttons{
    padding: 20px 80px;
    background-color: white;  
}
.list{
    margin-top: 2px;
    background-color: white;  
}